<div>
    <h1>{{'bookingList' | translate}}</h1>
    <div class="form-group col-md-2">
        <input class="form-control" ng-model="myFilter" placeholder="{{'filter' | translate}}"/>
    </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{'title' | translate}}</th>
                <th>{{'date' | translate}}</th>
                <th>{{'member' | translate}}</th>
                <th>{{'confirmlbl' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="booking in vm.bookings | filter:myFilter">
                <td>{{booking.oeuvre.titre}}</td>
                <td>{{booking.date_reservation}}</td>
                <td>{{booking.adherent.nom_adherent + ' ' + booking.adherent.prenom_adherent}}</td>
                <td><button class="btn btn-primary" ng-disabled="vm.isConfirmed(booking.statut)" ng-click="vm.confirmBooking(booking.oeuvre.id_oeuvre, booking.date_reservation)">{{'confirmlbl' | translate}}</button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>
</div>