<section class="home">
    <h1 align="center">{{'heading' | translate}}</h1>
    <ul align="center" class="list-group">
        <li class="list-group-item"><a ui-sref="addWork">{{'menuAdd' | translate}}</a></li>
        <li class="list-group-item"><a ui-sref="getBookings">{{'menuConfirm' | translate}}</a></li>
        <li class="list-group-item"><a ui-sref="getWorks">{{'menuConsult' | translate}}</a></li>
        <li ng-show="main.isConnected()" class="list-group-item"><a href="" ng-click="main.disconnect()">{{'menuLogout' | translate}}</a></li>
    </ul>
</section>